.card{
    background: linear-gradient(145deg, rgb(99, 46, 227) 0%, rgb(159, 98, 242) 100%);
}

.companyCard {
    /* background: linear-gradient(145deg, rgb(99, 46, 227) 0%, rgb(159, 98, 242) 100%); */
    transition: transform 0.3s ease-in-out; 
}

.companyCard:first-child {
    background: linear-gradient(to bottom left, #0f172a, #1e1a78, #0f172a);
}

.companyCard:nth-child(2) {
    background: conic-gradient(at 0 0, #4338ca, #6366f1, #a5b4fc);
}

.companyCard:last-child {
    background: linear-gradient(90deg, #2dd4bf, #1f2937);
}